<!DOCTYPE HTML>
<html>
<head>
    <title> 반가워요 동물의 숲</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--CSS 추가 200507-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/images/arrow.svg">

    <style>
        .col-md-6{
            position: relative;
            float: right;
        }


    </style>

</head>
<body>