{{>layout/header}}
<h1>영화 추천</h1>

<div class="wrap">
    <div class="header">
        <ul>
            <li>영화 평점</li>
            <li>영화 순위</li>
            <li>추천 알고리즘</li>
        </ul>
    </div>
    <div class="container">
        <div class="navigation">

        </div>
        <div class="main">

        </div>
    </div>

    <div class="footer">

    </div>
</div>

<a href="/" role="button" class="btn btn-primary">처음으로</a>

{{>layout/footer}}