{{>layout/header}}
<h1>영화 추천</h1>
<style>
    .header{
        width: 100%;
        height: 20%;
        border-bottom: solid;
        background-color: #ff8686;

    }
    .navigation{
        width: 30%;
        height: 60%;
        border-bottom: solid;
        background-color: #ab91d7;

    }
    .main{
        width: 70%;
        height: 60%;
        border-bottom: solid;
        background-color: #42424f;

    }
    .footer{
        width: 100%;
        height: 20%;
        border-bottom: solid;
        background-color: #82cec6;

    }
</style>

<div class="header">
    <ul>
        <li>영화 평점</li>
        <li>영화 순위</li>
        <li>추천 알고리즘</li>
    </ul>
</div>
<div class="navigation">

</div>
<div class="main">

</div>
<div class="footer">

</div>

<a href="/" role="button" class="btn btn-primary">처음으로</a>

{{>layout/footer}}