{{>layout/header}}
<h1>영화 추천</h1>

<div class="wrap-movie">
    <div class="header-movie">
        <ul>
            <li>영화 평점</li>
            <li>영화 순위</li>
            <li>추천 알고리즘</li>
            <li>극장 데이터 크롤링2</li>
        </ul>
    </div>
    <div class="container-movie">
        <div class="navigation-movie">

        </div>
        <div class="main-movie">

        </div>
    </div>

    <div class="footer-movie">

    </div>
</div>

<a href="/" role="button" class="btn btn-primary">처음으로</a>

{{>layout/footer}}