{{>layout/header}}
<h1>지하철 공공 데이터 API</h1>
<ul>
    <li>실시간 전철 위치</li>
    <li>최단시간, 최단 경로, 최소 환승</li>
    <li>분실물 찾아주기</li>

</ul>

<a href="/" role="button" class="btn btn-primary">처음으로</a>

{{>layout/footer}}